<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Property="og:title" content="">
    <meta Property="og:description" content="">
    <meta Property="og:url" content="">
    <meta Property="og:image" content="images/imagen.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="files/favicon.ico">  
            @Styles.Render("~/Content/css")
            @RenderSection("CssPersonalizado",false)
    <title>APUNTA LA PLACA</title>

</head>

<body class="bg-gradient">
    @*<div class="loader">
        <img src="@Url.Content("~/Images/loader.svg")" class="loader_img">
    </div>*@
    <div class="col-xs-12 col-sm-12 col-md-2 nav_lateral hidden-xs hidden-sm">
        <div class="col-md-12 nav_logo">
            <img src="@Url.Content("~/Images/logo.jpg")" style="width:100%;">
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1" style="margin-top: 47% !important;">
            <ul class="col-md-12 nav navbar-nav" style="padding-right:0px">
                Apunta la Placa
            </ul>
        </div>
        <div class="col-md-12" style="position: absolute;bottom: 18px;left: 0px;">

        </div>

        @*<div class="col-md-12 nav_logo">
                <img src="@Url.Content("~/Images/logo_lateral.jpg")" style="width:100%;">
            </div>*@
            @*<div class="col-md-12 nav_list">
                <ul>
                    @MvcHtmlString.Create(Model.usuario.getPerfilSelected.getMenusPage(False))
                </ul>
            </div>*@

    </div>
    <div Class="col-xs-12 hidden-md hidden-lg">
        <nav Class="navbar navbar-default navbar-fixed-top">
            <div Class="container-fluid">
                <div Class="navbar-header">
                    <Button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" Class="navbar-toggle collapsed">
                        <span Class="sr-only">Toggle navigation</span>
                        <span Class="icon-bar">
                        </span>
                        <span Class="icon-bar">
                        </span>
                        <span Class="icon-bar">
                        </span>
                    </Button> 
                    <img src="@Url.Content("~/Images/logo.jpg")" style="width:28%;" Class="hidden-xs hidden-lg hidden-sm " >
                    <img src="@Url.Content("~/Images/logo.jpg")" style="width:88px;" Class="hidden-md">
                </div>
            </div>
        </nav>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/generalJS")
    @RenderSection("scripts",false)



</body>





</html>


